<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>Trip India</title>
    <link href="{{ url_for('static', filename='assets/img/hero-img1.png') }}" rel="icon">


    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/main.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.css') }}">


    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="{{ url_for('plan.static', filename='css/form.css') }}" rel='stylesheet'>

</head>

<body class='snippet-body'>

    <!-- start banner Area -->
    <div class="section1 banner-area" id="home">
        <!-- Start Header Area -->
        <header class="default-header">
            <p></p>
            <div class="row">
                <div class="col-7 col-md-4">
                    <h1 class="headTitle" style="text-align: center;"><a href="/">Trip
                            India<span>.</span></a></h1>
                </div>
                <div class="col-5 col-md-8">
                    <nav class="navbar navbar-expand-lg  navbar-light">
                        <div class="container">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="text-white lnr lnr-menu"></span>
                            </button>

                            <div class="collapse navbar-collapse justify-content-end align-items-center"
                                id="navbarSupportedContent">
                                <ul class="navbar-nav">


                                    <!-- Uncomment below if you prefer to use an image logo -->
                                    <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                                    <li><a href="/home">Home</a></li>
                                    <li><a href="/home#about">About</a></li>
                                    <li><a href="/home#services">Services</a></li>
                                    <li><a href="/home#contact">Contact</a></li>
                                    <li><a href="/home#analytics">Analytics</a></li>
                                    <li><a href="/touristdestination">Explore</a></li>

                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">
                                            Hello {{firstname}}
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/user/profile">My Profile</a>
                                            {% if type == "admin" or type == "superadmin" %}
                                            <a class="dropdown-item" href="/touristdestination/addDestination/new">Add
                                                Destination</a>
                                            {% endif %}
                                            <a class="dropdown-item" href="/plan/myplans">My Plans</a>
                                            <a class="dropdown-item" href="">My Reviews</a>
                                            <a class="dropdown-item" href="/user/signout">Log Out</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <p></p>
                </div>
            </div>
        </header>
        <!-- End Header Area -->
    </div>
    <div style="height: 80px;"></div>

    <!--Card-->
    <div class="card smallCard shadow mb-5 bg-white rounded">
        <!--Card-Body-->
        <form method="POST">
            <div class="card-body">
                <!--Card-Title-->
                <p class="card-title text-center shadow mb-3 rounded">Generate Tour Plan</p>
                <div class="icons text-center">
                    <i class="fa fa-plane fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-taxi fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-train fa-2x" aria-hidden="true"></i>
                </div>

                <div class="row mt-4">
                    <hr>
                    <div class="row mt-2 justify-content-center">
                        <div class="col-sm-10">
                            {% if noOfCities == 1 %}
                            <span class="form-label">City 1</span>
                            {% else %}
                            <span class="form-label">Tour Starting City</span>
                            {% endif %}
                            <select class="browser-default custom-select mb-4" id="city1" name="city1">
                                <!--                <option>Ajmer</option> -->
                                <!--                                <option>Bikaner</option> -->
                                <option>Jaipur</option>
                                <option>Jaisalmer</option>
                                <option>Jodhpur</option>
                                <!--                                <option>Mandawa</option> -->
                                <!--                                <option>Mount Abu</option> -->
                                <option>Udaipur</option>
                            </select>
                        </div>
                    </div>
                    {% for i in range(2,noOfCities) %}
                    <div class="row mt-2 justify-content-center">
                        <div class="col-sm-10">
                            <span class="form-label">City {{i}}</span>
                            <select class="browser-default custom-select mb-4" id="city{{i}}" name="city{{i}}">
                                <!--                    <option>Ajmer</option> -->
                                <!--                   <option>Bikaner</option> -->
                                <option>Jaipur</option>
                                <option>Jaisalmer</option>
                                <option>Jodhpur</option>
                                <!--                    <option>Mandawa</option> -->
                                <!--                <option>Mount Abu</option> -->
                                <option>Udaipur</option>
                            </select>
                        </div>
                    </div>
                    {% endfor %}
                    {% if noOfCities != 1 %}
                    <div class="row mt-2 justify-content-center">
                        <div class="col-sm-10">
                            <span class="form-label">Tour Ending City</span>
                            <select class="browser-default custom-select mb-4" id="city{{noOfCities}}"
                                name="city{{noOfCities}}">
                                <!--             <option>Ajmer</option> -->
                                <!--               <option>Bikaner</option> -->
                                <option>Jaipur</option>
                                <option>Jaisalmer</option>
                                <option>Jodhpur</option>
                                <!--              <option>Mandawa</option> -->
                                <!--            <option>Mount Abu</option> -->
                                <option>Udaipur</option>
                            </select>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div style="height: 20px;"></div>
                <div class="text-center">
                    <p class="text-danger">{{warning}}</p>
                    <button class="btn btn-success mt-4 btn-lg" type="submit">Generate Plan</button>
                </div>
                <div style="height: 20px;"></div>
            </div>
        </form>
    </div>
    <div style="height: 95px;"></div>
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="" style="text-align: center;height: 275px;">
                <img src="{{ url_for('static', filename='assets/img/hero-img.png') }}" class="img-fluid" alt=""
                    height="300px" width="300px">
            </div>
            <div class="container">

                <div class="row  justify-content-center">
                    <div class="col-lg-6" data-aos="fade-in" style="font-family: Times New Roman;">
                        <h5>A Journey Of A Thousand Miles Begins With A Single Step</h5>
                    </div>
                </div>

                <div class="social-links">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>

            </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Trip India</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bocor-bootstrap-template-nice-animation/ -->
                Designed by <a href="/home#contact">ED GROUP 10 IIT J</a>
            </div>
        </div>
    </footer><!-- End Footer -->


    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>

</body>

</html>