<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Trip India</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{ url_for('touristdestination.static', filename='assets/img/hero-img.png') }}" rel="icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('touristdestination.static', filename='assets/css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/main.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.css') }}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head>

<body>
    <!-- start banner Area -->
    <div class="section1 banner-area" id="home">
        <!-- Start Header Area -->
        <header class="default-header">
            <p></p>
            <div class="row">
                <div class="col-7 col-md-4">
                    <h1 class="headTitle" style="text-align: center;"><a href="/">Trip India<span>.</span></a></h1>
                </div>
                <div class="col-5 col-md-8">
                    <nav class="navbar navbar-expand-lg  navbar-light">
                        <div class="container">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="text-white lnr lnr-menu"></span>
                            </button>

                            <div class="collapse navbar-collapse justify-content-end align-items-center"
                                id="navbarSupportedContent">
                                <ul class="navbar-nav">


                                    <!-- Uncomment below if you prefer to use an image logo -->
                                    <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                                    <li><a href="/home">Home</a></li>
                                    <li><a href="/home#about">About</a></li>
                                    <li><a href="/home#services">Services</a></li>
                                    <li><a href="/home#contact">Contact</a></li>
                                    <li><a href="/home#analytics">Analytics</a></li>
                                    <li><a href="/touristdestination">Explore</a></li>

                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">
                                            Hello {{firstname}}
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/user/profile">My Profile</a>
                                            <a class="dropdown-item" href="/touristdestination/addDestination/new">Add
                                                Destination</a>
                                            <a class="dropdown-item" href="/plan/myplans">My Plans</a>
                                            <a class="dropdown-item" href="">My Reviews</a>
                                            <a class="dropdown-item" href="/user/signout">Log Out</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <p></p>
                </div>
            </div>
        </header>
        <!-- End Header Area -->
    </div>

    <div style="height: 100px;"></div>

    <div class="container col-8 pt-5">
        <h2>Images:</h2>

        <p class="text-primary"> Now you need to upload 4 images of tourist spot.</p>
        <p class="text-primary"> First Image will be Preview Image, Rest 3 images will appear on page. You can upload
            any of copyrighted or non-copyrighted Images. Size of Image should be less than 500KB.
        </p>


        <div class="row">
            <form action="" method="post" enctype="multipart/form-data">
                <label class="form-label mt-4">Preivew Image:</label>

                <div class="col-md-6 mb-4">
                    <input type="file" class="form-control" id="images" name="images[]" onchange="preview_images();"
                        multiple />
                </div>
                <label class="form-label">Image 1:</label>

                <div class="col-md-6 mb-4">
                    <input type="file" class="form-control" id="images" name="images[]" onchange="preview_images();"
                        multiple />
                </div>
                <label class="form-label">Image 2:</label>

                <div class="col-md-6 mb-4">
                    <input type="file" class="form-control" id="images" name="images[]" onchange="preview_images();"
                        multiple />
                </div>
                <label class="form-label">Image 3:</label>

                <div class="col-md-6 mb-4">
                    <input type="file" class="form-control" id="images" name="images[]" onchange="preview_images();"
                        multiple />
                </div>
                <p class="text-danger">{{warning}}</p>
                <div class="col-md-6 mb-4">
                    <input type="submit" class="btn btn-primary" name='submit_image' value="Upload Images" />
                </div>
            </form>
        </div>
        <div class="row" id="image_preview"></div>
    </div>
    <div style="height: 60px;"></div>
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="" style="text-align: center;height: 275px;">
                <img src="{{ url_for('static', filename='assets/img/hero-img.png') }}" class="img-fluid" alt=""
                    height="300px" width="300px">
            </div>
            <div class="container">

                <div class="row  justify-content-center">
                    <div class="col-lg-6" data-aos="fade-in" style="font-family: Times New Roman;">
                        <h5>A Journey Of A Thousand Miles Begins With A Single Step</h5>
                    </div>
                </div>

                <div class="social-links">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>

            </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Trip India</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bocor-bootstrap-template-nice-animation/ -->
                Designed by <a href="/home#contact">ED GROUP 10 IIT J</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>


    <!-- Template Main JS File -->
    <script src="{{ url_for('touristdestination.static', filename='assets/js/main.js') }}"></script>

    <style>
        #formdiv {
            text-align: center;
        }

        #file {
            color: green;
            padding: 5px;
            border: 1px dashed #123456;
            background-color: #f9ffe5;
        }

        #img {
            width: 17px;
            border: none;
            height: 17px;
            margin-left: -20px;
            margin-bottom: 191px;
        }

        .upload {
            width: 100%;
            height: 30px;
        }

        .previewBox {
            text-align: center;
            position: relative;
            width: 150px;
            height: 150px;
            margin-right: 10px;
            margin-bottom: 20px;
            float: left;
        }

        .previewBox img {
            height: 150px;
            width: 150px;
            padding: 5px;
            border: 1px solid rgb(232, 222, 189);
        }

        .delete {
            color: red;
            font-weight: bold;
            position: absolute;
            top: 0;
            cursor: pointer;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #ccc;
        }
    </style>


    <!-- Custom javascript -->
    <script type="text/javascript">
        $('#add_more').click(function () {
            "use strict";
            $(this).before($("<div/>", {
                id: 'filediv'
            }).fadeIn('slow').append(
                $("<input/>", {
                    name: 'file[]',
                    type: 'file',
                    id: 'file',
                    multiple: 'multiple',
                    accept: 'image/*'
                })
            ));
        });

        $('#upload').click(function (e) {
            "use strict";
            e.preventDefault();

            if (window.filesToUpload.length === 0 || typeof window.filesToUpload === "undefined") {
                alert("No files are selected.");
                return false;
            }

            // Now, upload the files below...
            // https://developer.mozilla.org/en-US/docs/Using_files_from_web_applications#Handling_the_upload_process_for_a_file.2C_asynchronously
        });

        deletePreview = function (ele, i) {
            "use strict";
            try {
                $(ele).parent().remove();
                window.filesToUpload.splice(i, 1);
            } catch (e) {
                console.log(e.message);
            }
        }

        $("#file").on('change', function () {
            "use strict";

            // create an empty array for the files to reside.
            window.filesToUpload = [];

            if (this.files.length >= 1) {
                $("[id^=previewImg]").remove();
                $.each(this.files, function (i, img) {
                    var reader = new FileReader(),
                        newElement = $("<div id='previewImg" + i + "' class='previewBox'><img /></div>"),
                        deleteBtn = $("<span class='delete' onClick='deletePreview(this, " + i + ")'>X</span>").prependTo(newElement),
                        preview = newElement.find("img");

                    reader.onloadend = function () {
                        preview.attr("src", reader.result);
                        preview.attr("alt", img.name);
                    };

                    try {
                        window.filesToUpload.push(document.getElementById("file").files[i]);
                    } catch (e) {
                        console.log(e.message);
                    }

                    if (img) {
                        reader.readAsDataURL(img);
                    } else {
                        preview.src = "";
                    }

                    newElement.appendTo("#filediv");
                });
            }
        });
    </script>

</body>

</html>