<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Trip India</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href=" {{ url_for('hotel.static', filename='assets/img/favicon.png') }}" rel="icon">
  <link href=" {{ url_for('hotel.static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href=" {{ url_for('hotel.static', filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
  <link href=" {{ url_for('hotel.static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}"
    rel="stylesheet">
  <link href=" {{ url_for('hotel.static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}"
    rel="stylesheet">
  <link href=" {{ url_for('hotel.static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href=" {{ url_for('hotel.static', filename='assets/css/style.css') }}" rel="stylesheet">


</head>

<body>

  <main id="main">

    <!-- ======= Works Section ======= -->
    <section class="section site-portfolio">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
            <h2>Tourists spots in Jaisalmer</h2>
          </div>

        </div>
        <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
          <div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single.html" class="item-wrap fancybox">
              <div class="work-info">
                <h3>Kuldhara</h3>
                <span>The myterious village</span>
              </div>
              <img class="img-fluid" src=" {{ url_for('hotel.static', filename='assets/img/img_1.jpg') }}">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single.html" class="item-wrap fancybox">
              <div class="work-info">
                <h3>c1</h3>
                <span>C1</span>
              </div>
              <img class="img-fluid" src=" {{ url_for('hotel.static', filename='assets/img/img_2.jpg') }}">
            </a>
          </div>
          <div class="item branding col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single.html" class="item-wrap fancybox">
              <div class="work-info">
                <h3>Jc3</h3>
                <span>Tc3</span>
              </div>
              <img class="img-fluid" src=" {{ url_for('hotel.static', filename='assets/img/img_3.jpg') }}">
            </a>
          </div>
          <div class="item design col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single.html" class="item-wrap fancybox">
              <div class="work-info">
                <h3>c4</h3>
                <span>c4</span>
              </div>
              <img class="img-fluid" src=" {{ url_for('hotel.static', filename='assets/img/img_4.jpg') }}">
            </a>
          </div>
          <div class="item photography col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single.html" class="item-wrap fancybox">
              <div class="work-info">
                <h3>c5</h3>
                <span>c5</span>
              </div>
              <img class="img-fluid" src=" {{ url_for('hotel.static', filename='assets/img/img_5.jpg') }}">
            </a>
          </div>
          <div class="item branding col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="work-single.html" class="item-wrap fancybox">
              <div class="work-info">
                <h3>c6</h3>
                <span>c6</span>
              </div>
              <img class="img-fluid" src=" {{ url_for('hotel.static', filename='assets/img/img_6.jpg') }}">
            </a>
          </div>
        </div>
      </div>
    </section><!-- End  Works Section -->


    <!-- ======= Testimonials Section ======= -->
    <section class="section pt-0">
      <div class="container">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial">
                  <img src=" {{ url_for('hotel.static', filename='assets/img/person_1.jpg') }}" alt="Image"
                    class="img-fluid">
                  <blockquote>
                    <p>“Do not follow where the path may lead. Go instead where there is no path and leave a trail” </p>
                  </blockquote>
                  <p>&mdash; Ralph Waldo Emerson</p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial">
                  <img src=" {{ url_for('hotel.static', filename='assets/img/person_2.jpg') }}" alt="Image"
                    class="img-fluid">
                  <blockquote>
                    <p>“Man cannot discover new oceans unless he has the courage to lose sight of the shore” </p>
                  </blockquote>
                  <p>&mdash; Andre Gide</p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p class="mb-1">&copy; Copyright Trip India. All Rights Reserved</p>
          <div class="credits">
            <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=MyPortfolio
          -->
            Designed by <a href="https://bootstrapmade.com/">ED group IIT Jodhpur</a>
          </div>
        </div>
        <div class="col-sm-6 social text-md-end">
          <a href="#"><span class="bi bi-twitter"></span></a>
          <a href="#"><span class="bi bi-facebook"></span></a>
          <a href="#"><span class="bi bi-instagram"></span></a>
          <a href="#"><span class="bi bi-linkedin"></span></a>
        </div>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src=" {{ url_for('hotel.static', filename='assets/vendor/aos/aos.js') }}"></script>
  <script src=" {{ url_for('hotel.static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src=" {{ url_for('hotel.static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src=" {{ url_for('hotel.static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src=" {{ url_for('hotel.static', filename='assets/vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src=" {{ url_for('hotel.static', filename='assets/js/main.js') }}"></script>

</body>

</html>